p{
    padding: 0;
    margin: 0;
}
h3{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.2rem;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-inner{
    background-color: black;
    position:relative;
    z-index: 7;
}
.pull{
    position: fixed;
    z-index: 8;
    top: -0.1rem;
    background-color: black;
    width: 100%;
    height: 200%;
    display: none;
    span{
        font-size: 3.5rem;
        cursor: pointer;
        display: none;
        position: absolute;
        z-index: 9;
        float: right;
        right: 1rem;
        top: 0.6rem;
    }
}
.pullOn{
    display: block !important;
}
.pull-nav{
    .logo{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        text-decoration: none;
    }
    ul{
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        li{
            color: white;
            display: block;
            padding: 1rem 0;
            align-items: center;
            border-top:1px solid rgba(128, 128, 128, 0.479);
            &:hover{
                background: linear-gradient(-45deg, black, #DA0037, #950101, #3F0071);
                background-size: 400% 400%;
                animation: gradient 15s ease-in-out infinite;   
            }
        }
        li.end{
            border-bottom: 1px solid rgba(128, 128, 128, 0.479);
        }
        
    }
}
.nav{
    display: flex;
    span{
        font-size: 2.5rem;
        cursor: pointer;
        display: none;
        position: absolute;
        z-index: 9;
        float: right;
        right: 1rem;
        top: 1rem;
    }
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
        display: flex;
        margin-right:5rem ;
        
        li{
            text-transform: uppercase;
            cursor: pointer;
            font-size:clamp(16px, 13px, 12px);
            font-weight: 700;
            margin-left: 3.5rem;
            color: white;
            text-shadow: 6px 6px 8px rgb(255, 255, 255);
            transition: all 0.1s ease-in-out;
            &:hover{
                text-shadow: 6px 6px 8px #950101;;
                text-shadow: 2px 0 8px #DA0037, -2px 0 8px #DA0037, 0 2px 8px #DA0037, 0 -2px 8px #DA0037, 1px 1px 8px #DA0037, -1px -1px 8px #DA0037, 1px -1px 8px #DA0037, -1px 1px 8px #DA0037;
                color:rgb(255, 255, 255) ;
            }
        }
    }
}
.home{
    background-color: black;
    box-shadow: 0px 10px 50px black;
    position: relative;
    .content{
        padding-bottom: 10rem;
        display: flex;
    }
    .left-side{
        margin-left: 4rem;
        position: relative;
        z-index: 2; 
        width: 70%;
        .text{
            margin-top: 7rem;
            p{
                color: white;
                font-weight: 700;
                font-size: clamp(20px, 8vw, 60px);
            }
        }
        .btn{
            border: 1px solid #DA0037;
            background-color: black;
            border-radius:0;
            font-size: 16px;
            color: #DA0037;
            padding: 1rem 2rem;
            letter-spacing: 4px;
            margin-top: 2rem;
            box-shadow: 2px 2px 10px #DA0037;
            cursor: pointer;
            transition: all 0.1s ease-in;
            &:hover{
                margin-left: 1rem;
                border: 1px solid black;
                box-shadow: 2px 2px 10px black;
                color: black;
                background: linear-gradient(-45deg, black, #DA0037, #950101, #3F0071);
                background-size: 400% 400%;
                animation: gradient 15s ease-in-out infinite;   
            }
        }
    }
    .right-side{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            position: relative;
            z-index: 1;
            top: 2rem;
            animation: move 5s  infinite;
        }
    }
}

.about{
    background: linear-gradient(-45deg, black, #DA0037, #950101, #3F0071);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    .content-inner{
        padding-bottom: 2rem;
    }
    .box{
        border-radius: 8px;
        margin: 3rem 0 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        background-color: rgba(255, 255, 255, 0.075);
        backdrop-filter: blur(5px);
    }
    .text{
        color: white;
        padding: 1.4rem 2rem;
        h3{
            font-weight: bold;
            font-size: clamp(40px, 8vw, 60px);
        }
        p{
            margin-left: 0.8rem;
            font-size: clamp(5px, 8vw, 1rem);
            font-weight:100 ;
            letter-spacing: 0.1rem;
            // text-indent: 1.5rem;
        }
    }
    .left-side{
        width: 60%;
        position: relative;
        z-index: 5;
    }
    .right-side{
        width: 30%;
        .photo{
            width: 17rem;
            height: 17rem;
            border-radius: 50%;
            overflow: hidden;
            border: 9px solid #8a092f;
            box-shadow: 0px 0px 20px black;
            img{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 17rem;
            }
        }
    }
    .btn{
        border: 0px solid black;
        margin: 0 auto;
        display: block;
            background-color: rgba(255, 255, 255, 0.082);
            border-radius:0;
            font-size: 16px;
            color: white;
            width: 10rem;
            text-align: center;
            padding: 0.5rem 1rem;
            letter-spacing: 4px;
            cursor: pointer;
            transition: all 0.1s ease-in;
            &:hover{
                background-color: white;
                color: black;
            }
    }
}

.portfolio{
    background-color: black;
    box-shadow: 0px -10px 50px black;
    padding-bottom: 6rem;
    .main-text{
        text-align: center;
        h1{
            color: white;
            font-weight: 400;
            font-size: 35px;
            letter-spacing: 0.3rem;
        }
        p{
            text-align: center;
            color: rgba(167, 167, 167, 0.795);
            width: 100%;
            padding: 1rem 0;
            font-size: 18px;
            font-weight: 100;
            // background-color: #711;
            a{
                color: #f31;
                text-decoration: none;
            }
        }
    }
    
    .projects{
        display: flex;
        flex-grow: 4;
        padding: 2rem 0 0 0;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .project{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        backdrop-filter: blur(5px);
        border: 2px solid #b8022a;
        box-shadow: 0 0 20px #b8022a;
        padding: 2rem 1.3rem;
        margin: 0.8rem 1rem;
        &:hover{
            .hoverup{
                display: block;
                opacity: 1;
                .hover-inner{
                    transform: scale(1);
                }
            }
        }
    }
    .hoverup{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 3;
        background-color: #ac0428f5;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        .hover-inner{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;     
            flex-direction: column;   
            padding: 2rem 1rem;
            transform: scale(0.7);
            transition: all 0.2s ease-in-out;
        }
        h3{
            color: white;
            border: 2px solid #711;
            border-radius: 50px;
            padding: 1rem 1.5rem;
            cursor: pointer;
            margin: 1rem 0;
        }
        p{
            color: white;
            text-align: center;
            padding: 2rem 0;
            font-weight:100;
            font-size:16px;
        }

    }
    .text{
        color: white;
        text-align: center;
        h3{
            text-transform: uppercase;
            padding: 0.3rem 0;
            margin-top: 1rem;
            letter-spacing: 0.2rem;
        }
        p{
            font-size: 15px;
            color: rgba(139, 139, 139, 0.829);
        }
    }
    .btn{
        border: 1px solid #DA0037;
            background-color: black;
            border-radius:0;
            font-size: 16px;
            color: #DA0037;
            padding: 1rem 2rem;
            letter-spacing: 4px;
            margin-top: 2rem;
            box-shadow: 2px 2px 10px #DA0037;
            cursor: pointer;
            transition: all 0.1s ease-in;
            display: block;
            margin: 1rem auto;
            &:hover{
                border: 1px solid black;
                box-shadow: 2px 2px 10px black;
                color: black;
                background: linear-gradient(-45deg, black, #DA0037, #950101, #3F0071);
                background-size: 400% 400%;
                animation: gradient 15s ease-in-out infinite;   
            }
    }
}


.experince{
    background-color: black;
    padding-bottom: 8rem;
    h1{
        color: white;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.3rem;
        text-align: center;
    }
    .content-inner{
        
        .box{
            border: 2px solid #3F0071;
            box-shadow: 0 0 20px #3F0071;
            padding: 2rem;
            display: flex;
            flex-grow: 3;
            flex-wrap: wrap;
        }
        .elem{
            display: flex;
            width: 33.333%;
            // align-items: center;
            // justify-content: center;
            .circle{
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50%;
                background-color: #3F0071;
                margin: auto 0;
                margin-right: 0.7rem;
            }
            p{
                color: rgba(167, 167, 167, 0.795);
                padding: 1rem 0;
                font-size: 18px;
                font-weight: 100;
            }
            .rate{
                border-radius: 20px;
                border: 2px solid #3F0071;
                width: 30%;
                margin: auto 1rem;
                height: 0.7rem;
                overflow: hidden;
                div{
                    background-color: #3F0071;
                    width: 700px;
                    height: 100%
                }
            }

        }

    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes move {
    0% {
        transform:translateY(0);
    }
    50%{
        transform:translateY(-3rem)
    }
    100%{
        transform:translateY(0rem)
    }
}
@media screen and (max-width: 768px) {
    .home{
        .left-side{
            margin-left: 2rem;
        }
        .right-side{
            width: 30%;
        }
    }
    .nav{
        ul{
            display: none;
        }
        span{
            display: block;
        }
    }
    .pull{
        span{
            display: block;
        }
    }
    .about{
        .left-side{
        width: 70%;
        }
        .box{
            justify-content: center;
            align-items: center;
        }
    }
    .photo{
        position: absolute;
        z-index: 4;
        transform: scale(0.7);
        right: -1rem;
        top: 0;
    }
  }


  @media screen and (max-width:600px){
      
      .about{
          .left-side{
              width: 100%;
          }
          .photo{
              display: none;
              
          }
          .box{
              display: block;
          }
      }
  }
  @media screen and (max-width: 380px){
      .portfolio{
          .project{
            transform: scale(0.8) !important;
          }
        }
  }