
    <div class="nav-inner">
        <div class="container">
            <div class="nav-bar" >
                <div class="logo">
                    <a href="#home"><img src="assets\img\WhatsApp Image 2022-04-19 at 18.29.07.jpeg"  width="70rem" alt=""></a>
                </div>
                <div class="nav">
                    <ul>
                        <a href="#about"><li>About</li></a>
                        <a href="#portfolio"><li>Portfolio</li></a>
                        <a href="#experience"><li>Experience</li></a>
                        <a href="#contact-me"><li>Contact Me</li></a>
                    </ul>
                    <span (click)="pullR()"><i style="color: white;" [class]="exit"></i></span>
                </div>
            </div>
        </div>
    </div>
    <span class="pull" [class]='pullOn'>
        <span (click)="pullR()"><i style="color: white;" class="fa-solid fa-xmark"></i></span>
        <div class="pull-nav">
            <div class="logo">
                <a (click)="pullR()" href="#home"><img src="assets\img\WhatsApp Image 2022-04-19 at 18.29.07.jpeg"  width="70rem" alt=""></a>
            </div>
            <ul>
                <a (click)="pullR()" href="#about"><li>About</li></a>
                <a (click)="pullR()" href="#portfolio"><li>Portfolio</li></a>
                <a (click)="pullR()" href="#experience"><li>Experience</li></a>
                <a (click)="pullR()" href="#contact-me"><li class="end">Contact Me</li></a>
            </ul>
        </div>
    </span>
    <section class="home" id='home'>
        <div class="container">
            <div class="content">
                <div class="left-side">
                    <div class="text">
                        <p data-aos="fadeInUp" data-aos-duration="1000">Hi!</p>
                        <p data-aos="fadeInUp" data-aos-duration="1000">I'm Aitegin,</p>
                        <p data-aos="fadeInUp" data-aos-duration="1000">Web Developer</p>
                    </div>
                    <div class="contact">
                        <a href="#contact-me"><button class="btn">Contact me!</button></a>
                    </div>
                </div>
                <div class="right-side">
                    <img src="assets\img\WhatsApp Image 2022-04-21 at 10.27.34.jpeg" width="60%" alt="">
                </div>
            </div>
        </div>
    </section>
    <section 
        class="about" id='about' >
        <div class="content-inner" >
            <div class="container">
                <div class="box" data-aos="fade-up">
                    <div class="left-side">
                        <div class="text">
                            <h3>I'm a</h3>
                            <p>Developer based in Lagos, Nigeria focused on creating interactive digital experiences on the web, working with brands and industry leaders such as DISNEY, PAYSTACK, JELLY, and NULL amongst others to achieve this.</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="photo">
                            <img src="assets\img\WhatsApp Image 2022-04-21 at 12.24.01.jpeg" alt="">
                        </div>
                    </div>
                    
                </div>
                <button data-aos="fade-in"class="btn">See more!</button>
            </div>
        </div>
    </section>
    <section class="portfolio" id="portfolio">
        <div class="content-inner">
            <div class="container">
                <div class="main-text">
                    <h1 data-aos="fadeInUp">My portfolio</h1>
                    <p data-aos="fadeInUp">Here are a few design projects I've worked on recently. Want to see more? Scroll down.</p>
                </div>
                <div class="projects">
                    <div class="project" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img"><img src="http://dummyimage.com/300" alt=""></div>
                        <div class="text">
                            <h3>Lorem</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <span class="hoverup">
                            <div class="hover-inner">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, fuga?</p>
                                <h3>Visite website ></h3>
                            </div>
                        </span>
                    </div>
                    <div class="project" data-aos="fade-up" data-aos-duration="1000" >
                        <div class="img"><img src="http://dummyimage.com/300" alt=""></div>
                        <div class="text">
                            <h3>Lorem</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <span class="hoverup">
                            <div class="hover-inner">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, fuga?</p>
                                <h3>Visite website ></h3>
                            </div>
                        </span>
                    </div>
                    <div class="project" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img"><img src="http://dummyimage.com/300" alt=""></div>
                        <div class="text">
                            <h3>Lorem</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <span class="hoverup">
                            <div class="hover-inner">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, fuga?</p>
                                <h3>Visite website ></h3>
                            </div>
                        </span>
                    </div>
                    <div class="project" data-aos="fade-up" data-aos-duration="1000" >
                        <div class="img"><img src="http://dummyimage.com/300" alt=""></div>
                        <div class="text">
                            <h3>Lorem</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <span class="hoverup">
                            <div class="hover-inner">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, fuga?</p>
                                <h3>Visite website ></h3>
                            </div>
                        </span>
                    </div>
                    <div class="project" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img"><img src="http://dummyimage.com/300" alt=""></div>
                        <div class="text">
                            <h3>Lorem</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <span class="hoverup">
                            <div class="hover-inner">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, fuga?</p>
                                <h3>Visite website ></h3>
                            </div>
                        </span>
                    </div>
                    <div class="project" data-aos="fade-up" data-aos-duration="1000" >
                        <div class="img"><img src="http://dummyimage.com/300" alt=""></div>
                        <div class="text">
                            <h3>Lorem</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <span class="hoverup">
                            <div class="hover-inner">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, fuga?</p>
                                <h3>Visite website ></h3>
                            </div>
                        </span>
                    </div>
                </div>
                
                <button class="btn">See more!</button>
            </div>
        </div>
    </section>
    <section class="experience" id='experience' >
        <div class="container">
            <h1 data-aos="fadeInUp">My experience</h1>
            <div class="content-inner" data-aos="fade-up">               
                <div class="box">
                    <div class="elem" *ngFor="let exp of experinces">
                        <span class="circle"></span>
                        <p>{{exp.name}}</p>
                        <div class="rate">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-me" id="contact-me">
        <div class="container">
            <h1 data-aos="fadeInUp">Contact me</h1>
            <div class="content-inner">   
                <div class="left-side">
                    <div class="contacts">
                        <div class="circle">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <p>G.R.A Ikeja, Lagos</p>
                    </div>
                    <div class="contacts">
                        <div class="circle">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <p>ayte14@mail.ru</p>
                    </div>
                    <div class="contacts">
                        <div class="circle">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <p>+996(558)88-75-55</p>
                    </div>
                </div>
                    <div class="right-side">
                        <div class="form">
                            <input type="text" placeholder="Full Name">
                            <input type="email" placeholder="Email">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Enter your message"></textarea>
                    </div>
                </div>
            </div>
            <button>Submit</button>
        </div>
    </section>