
    <div class="nav-inner">
        <div class="container">
            <div class="nav-bar">
                <div class="logo">
                    <img src="assets\img\WhatsApp Image 2022-04-19 at 18.29.07.jpeg"  width="70rem" alt="">
                </div>
                <div class="nav">
                    <ul>
                        <li>About</li>
                        <li>Portfolio</li>
                        <li>Experince</li>
                        <li>Contact Me</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="home">
        <div class="container">
            <div class="content">
                <div class="left-side">
                    <div class="text">
                        <p>Hi!</p>
                        <p>I'm Aitegin,</p>
                        <p>Web Developer</p>
                    </div>
                    <div class="contact">
                        <button class="btn">Contact me!</button>
                    </div>
                </div>
                <div class="right-side">
                    <img src="assets\img\WhatsApp Image 2022-04-21 at 10.27.34.jpeg" width="60%" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="content-inner">
            <div class="container">
                <div class="box">
                    <div class="left-side">
                        <div class="text">
                            <h3>I'm a</h3>
                            <p>Developer based in Lagos, Nigeria focused on creating interactive digital experiences on the web, working with brands and industry leaders such as DISNEY, PAYSTACK, JELLY, and NULL amongst others to achieve this.</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="photo">
                            <img src="assets\img\WhatsApp Image 2022-04-21 at 12.24.01.jpeg" alt="">
                        </div>
                    </div>
                    
                </div>
                <button class="btn">See more!</button>
            </div>
        </div>
    </section>

