/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Oswald:wght@300;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url("https://unpkg.com/aos@next/dist/aos.css");  
body{
        margin: 0;
        padding: 0;
        background:  linear-gradient(-45deg, black, #f31, #950101, #DA0037);
        background-size: 400% 400%;
        animation: gradient 15s ease-in-out infinite;; 
    }
    html{
      scroll-behavior:smooth;
    }
    ::-webkit-scrollbar {
        width: 5px;
      }
    ::-webkit-scrollbar-track {
        background:  linear-gradient(-45deg, black, #DA0037, #950101, #3F0071);
        background-size: 400% 400%;
        animation: gradient 15s ease-in-out infinite;; 
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.473);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.418); 
  }
  *{
    box-sizing: border-box;
  }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
